.page{
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container h2{
    color : var(--marine-blue)
}

.container p{
  padding: 0 1.5em;
  color: var(--dark-gray);
  font-weight: 300;
  line-height: 1.5em;
  font-size: 0.8em;
}

.container *:nth-child(n+1){
  margin-top: 1em;
}