.page{
  height : 100%;
  display: flex; 
  flex-direction: column; 
}

.form{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap:1em;
}

.inputs div{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.form button{
  margin-left: auto;
  width: max-content;
}

.form label{
  font-size: 13px;
  color: var(--marine-blue);
}