:root {
  --cool-gray : hsl(229, 24%, 87%);
  --light-gray : hsl(229, 24%, 87%);
  --dark-gray : hsl(229, 24%, 70%);
  --magnolia : hsl(217, 100%, 97%);
  --alabaster : hsl(231, 100%, 99%);
  --white : hsl(0, 0%, 100%);

  --marine-blue : hsl(213, 96%, 18%);
  --purplish-blue : hsl(243, 100%, 62%);
  --light-blue : hsl(206, 94%, 87%);
  --pastel-blue : hsl(228, 100%, 84%);
  --strawberry-red : hsl(354, 84%, 57%);

  --border-radius : 0.5em;
  --default-font-size : 16px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--default-font-size);
}



a {
  color: inherit;
  text-decoration: none;
}

