.button{
  background-color: var(--marine-blue);
  color : var(--white);
  border: none;
  padding: 1em 2em;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:disabled{
  cursor: not-allowed;
  opacity: 0.8;
}

.confirm{
  background-color: var(--purplish-blue);
  color : var(--white);
  border: none;
  padding: 1em 2em;
  border-radius: var(--border-radius);
  cursor: pointer;
}